{% if site.data.settings.pricing %}
<!-- pricing -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">{{ site.data.settings.pricing-title }}</h2>
      </div>
      {% for service in site.data.settings.pricing %}
      <div class="col-md-4 mb-4 mb-md-0">
        <div class="card hover-shadow shadow">
          <div class="card-body {% if pricing.active %}active-bg-primary{% endif %} text-center px-4 py-5">
            <i class="{{ pricing.icon }} icon mb-5 d-inline-block"></i>
            <h4 class="mb-4">{{ pricing.name }}</h4>
            <p>{{ pricing.description }}</p>
          </div>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</section>
<!-- /pricing -->
{% endif %}
